In [1]:
import pandas as pd
import numpy as np

In [2]:
df1_diccionario = pd.read_csv("C:/Users/Administrador/Desktop/RCM/Proyecto2-EDA-Ingresos-Publicos-Brasil/datos/diccionario_datos.csv", sep=';', encoding='latin-1')
df1_diccionario

,COLUNA,Unnamed: 1,DESCRIÇÃO,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,Código Órgão Superior,NaN,Código do Órgão Superior responsável pela rece...,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,Nome do Órgão Superior responsável pela receita.,NaN
4,Nome Órgão Superior,NaN,NaN,NaN
...,...,...,...,...
61,Data Lançamento,NaN,Data de lançamento da receita,NaN
62,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN
64,Exercício,NaN,Exercício a que se referem os valores,NaN
65,NaN,NaN,NaN,NaN