In [40]:
import pandas as pd
import numpy as np

In [41]:
df1_2013 = pd.read_csv("C:/Users/Administrador/Desktop/RCM/Proyecto2-EDA-Ingresos-Publicos-Brasil/datos/datos-2013.csv", sep=';')
df1_2013.head(3)
#C:\Users\Administrador\Desktop\Proyecto2-EDA-Ingresos-Publicos-Brasil

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,NaN
1,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","26666621,42","0,00",31/12/2013,2013.0
2,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","301251,13","0,00",31/12/2013,2013.0

In [53]:
df1_2013.describe()

,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,CÓDIGO UNIDADE GESTORA,ANO EXERCÍCIO
count,4282.000000,4362.000000,4324.000000,3374.0
mean,31739.607660,31484.209995,232766.252775,2013.0
std,10692.607398,10810.318732,141238.719759,0.0
min,20000.000000,20101.000000,110005.000000,2013.0
25%,25000.000000,26000.000000,153978.000000,2013.0
50%,26000.000000,26292.000000,160075.000000,2013.0
75%,36000.000000,35000.000000,253003.000000,2013.0
max,81000.000000,91214.000000,913001.000000,2013.0

In [55]:
df1_2013.shape

(4498, 16)

In [54]:
df1_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4498 entries, 0 to 4497
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CÓDIGO ÓRGÃO SUPERIOR      4282 non-null   float64
 1   NOME ÓRGÃO SUPERIOR        2924 non-null   object
 2   CÓDIGO ÓRGÃO               4362 non-null   float64
 3   NOME ÓRGÃO                 4286 non-null   object
 4   CÓDIGO UNIDADE GESTORA     4324 non-null   float64
 5   NOME UNIDADE GESTORA       4278 non-null   object
 6   CATEGORIA ECONÔMICA        4303 non-null   object
 7   ORIGEM RECEITA             4413 non-null   object
 8   ESPÉCIE RECEITA            4355 non-null   object
 9   DETALHAMENTO               4377 non-null   object
 10  VALOR PREVISTO ATUALIZADO  4273 non-null   object
 11  VALOR LANÇADO              4282 non-null   object
 12  VALOR REALIZADO            4309 non-null   object
 13  PERCENTUAL REALIZADO       4360 non-null   object
 14  DATA LANÇAMENTO            4398 non-null   object
 15  ANO EXERCÍCIO              3374 non-null   float64
dtypes: float64(4), object(12)
memory usage: 562.4+ KB

In [42]:
df1_2014 = pd.read_csv("C:/Users/Administrador/Desktop/RCM/Proyecto2-EDA-Ingresos-Publicos-Brasil/datos/datos-2014.csv", sep=';')
df1_2014.head(3)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,NaN,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORÁRIOS DE ADVOGADOS,"0,00","0,00",NaN,NaN,31/12/2014,2014.0
1,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS PREVISTOS EM CONTRATOS,"0,00","0,00","15920,83","0,00",31/12/2014,2014.0
2,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","2195899,92","0,00",31/12/2014,2014.0

In [56]:
df1_2014.describe()

,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,CÓDIGO UNIDADE GESTORA,ANO EXERCÍCIO
count,4331.000000,4493.000000,4332.000000,3415.0
mean,31847.841145,31818.443356,236574.978532,2014.0
std,10813.244886,11143.198081,145862.242362,0.0
min,20000.000000,20101.000000,110005.000000,2014.0
25%,25000.000000,26000.000000,153167.000000,2014.0
50%,26000.000000,26298.000000,160075.000000,2014.0
75%,36000.000000,36201.000000,255000.000000,2014.0
max,81000.000000,91214.000000,913001.000000,2014.0

In [58]:
df1_2014.shape

(4553, 16)

In [57]:
df1_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4553 entries, 0 to 4552
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CÓDIGO ÓRGÃO SUPERIOR      4331 non-null   float64
 1   NOME ÓRGÃO SUPERIOR        2959 non-null   object
 2   CÓDIGO ÓRGÃO               4493 non-null   float64
 3   NOME ÓRGÃO                 4439 non-null   object
 4   CÓDIGO UNIDADE GESTORA     4332 non-null   float64
 5   NOME UNIDADE GESTORA       4392 non-null   object
 6   CATEGORIA ECONÔMICA        4502 non-null   object
 7   ORIGEM RECEITA             4487 non-null   object
 8   ESPÉCIE RECEITA            4455 non-null   object
 9   DETALHAMENTO               4506 non-null   object
 10  VALOR PREVISTO ATUALIZADO  4325 non-null   object
 11  VALOR LANÇADO              4375 non-null   object
 12  VALOR REALIZADO            4328 non-null   object
 13  PERCENTUAL REALIZADO       4437 non-null   object
 14  DATA LANÇAMENTO            4411 non-null   object
 15  ANO EXERCÍCIO              3415 non-null   float64
dtypes: float64(4), object(12)
memory usage: 569.3+ KB

In [43]:
df1_2015 = pd.read_csv("C:/Users/Administrador/Desktop/RCM/Proyecto2-EDA-Ingresos-Publicos-Brasil/datos/datos-2015.csv", sep=';')
df1_2015.head(3)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORARIOS DE ADVOGADOS,"0,00","0,00","63829853,40","0,00",31/12/2015,2015.0
1,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Receita de Serviços,TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS,"636000,00","0,00","4486964,41","705,00",31/12/2015,2015.0
2,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,NaN,RECEITA DE ONUS DE SUCUMBENCIA,"0,00","0,00","13060401,15",NaN,31/12/2015,2015.0

In [59]:
df1_2015.describe()

,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,CÓDIGO UNIDADE GESTORA,ANO EXERCÍCIO
count,4324.000000,4351.000000,4326.000000,3392.0
mean,31970.860315,32019.609975,237160.818770,2015.0
std,10941.671616,11465.439048,145720.161158,0.0
min,20000.000000,20101.000000,110005.000000,2015.0
25%,25000.000000,26000.000000,153173.000000,2015.0
50%,26000.000000,26298.000000,167086.000000,2015.0
75%,36000.000000,36211.000000,264001.000000,2015.0
max,81000.000000,91214.000000,913001.000000,2015.0

In [60]:
df1_2015.shape

(4523, 16)

In [61]:
df1_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194533 entries, 0 to 194532
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CÓDIGO ÓRGÃO SUPERIOR      190214 non-null  float64
 1   NOME ÓRGÃO SUPERIOR        126446 non-null  object
 2   CÓDIGO ÓRGÃO               190506 non-null  float64
 3   NOME ÓRGÃO                 191144 non-null  object
 4   CÓDIGO UNIDADE GESTORA     185211 non-null  float64
 5   NOME UNIDADE GESTORA       191552 non-null  object
 6   CATEGORIA ECONÔMICA        192399 non-null  object
 7   ORIGEM RECEITA             186042 non-null  object
 8   ESPÉCIE RECEITA            190129 non-null  object
 9   DETALHAMENTO               186707 non-null  object
 10  VALOR PREVISTO ATUALIZADO  184806 non-null  object
 11  VALOR LANÇADO              188960 non-null  object
 12  VALOR REALIZADO            188766 non-null  object
 13  PERCENTUAL REALIZADO       192008 non-null  object
 14  DATA LANÇAMENTO            192088 non-null  object
 15  ANO EXERCÍCIO              145900 non-null  float64
dtypes: float64(4), object(12)
memory usage: 23.7+ MB

In [44]:
df1_2016 = pd.read_csv("C:/Users/Administrador/Desktop/RCM/Proyecto2-EDA-Ingresos-Publicos-Brasil/datos/datos-2016.csv", sep=';')
df1_2016.head(3)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC,"0,00","0,00","154948,98","0,00",04/04/2016,2016.0
1,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ONUS DE SUCUMBENCIA-MULTAS E JUROS,"0,00","0,00","80,84","0,00",08/12/2016,2016.0
2,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","4996,11","0,00",22/08/2016,NaN

In [63]:
df1_2016.describe()

,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,CÓDIGO UNIDADE GESTORA,ANO EXERCÍCIO
count,190214.000000,190506.000000,185211.000000,145900.0
mean,32735.986836,32087.913158,231662.563579,2016.0
std,11072.787723,10958.211896,143282.285279,0.0
min,20000.000000,20101.000000,110005.000000,2016.0
25%,26000.000000,26232.000000,153165.000000,2016.0
50%,26000.000000,26406.000000,167086.000000,2016.0
75%,39000.000000,36212.000000,253003.000000,2016.0
max,81000.000000,91214.000000,913001.000000,2016.0

In [65]:
df1_2016.shape

(194533, 16)

In [66]:
df1_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194533 entries, 0 to 194532
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CÓDIGO ÓRGÃO SUPERIOR      190214 non-null  float64
 1   NOME ÓRGÃO SUPERIOR        126446 non-null  object
 2   CÓDIGO ÓRGÃO               190506 non-null  float64
 3   NOME ÓRGÃO                 191144 non-null  object
 4   CÓDIGO UNIDADE GESTORA     185211 non-null  float64
 5   NOME UNIDADE GESTORA       191552 non-null  object
 6   CATEGORIA ECONÔMICA        192399 non-null  object
 7   ORIGEM RECEITA             186042 non-null  object
 8   ESPÉCIE RECEITA            190129 non-null  object
 9   DETALHAMENTO               186707 non-null  object
 10  VALOR PREVISTO ATUALIZADO  184806 non-null  object
 11  VALOR LANÇADO              188960 non-null  object
 12  VALOR REALIZADO            188766 non-null  object
 13  PERCENTUAL REALIZADO       192008 non-null  object
 14  DATA LANÇAMENTO            192088 non-null  object
 15  ANO EXERCÍCIO              145900 non-null  float64
dtypes: float64(4), object(12)
memory usage: 23.7+ MB

In [45]:
df1_2017 = pd.read_csv("C:/Users/Administrador/Desktop/RCM/Proyecto2-EDA-Ingresos-Publicos-Brasil/datos/datos-2017.csv", sep=';')
df1_2017.head(3)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","198,00","0,00",29/08/2017,2017.0
1,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","2093,50","0,00",10/02/2017,2017.0
2,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","9329,40","0,00",27/11/2017,2017.0

In [67]:
df1_2017.describe()

,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,CÓDIGO UNIDADE GESTORA,ANO EXERCÍCIO
count,185999.000000,188418.000000,186949.000000,142859.0
mean,32547.115845,31814.245996,231583.874880,2017.0
std,10955.975665,10681.942444,142775.277196,0.0
min,20000.000000,20101.000000,110005.000000,2017.0
25%,26000.000000,26231.000000,153166.000000,2017.0
50%,26000.000000,26405.000000,167086.000000,2017.0
75%,39000.000000,36201.000000,253003.000000,2017.0
max,81000.000000,91214.000000,913001.000000,2017.0

In [69]:
df1_2017.shape

(190479, 16)

In [70]:
df1_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190479 entries, 0 to 190478
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CÓDIGO ÓRGÃO SUPERIOR      185999 non-null  float64
 1   NOME ÓRGÃO SUPERIOR        123811 non-null  object
 2   CÓDIGO ÓRGÃO               188418 non-null  float64
 3   NOME ÓRGÃO                 185457 non-null  object
 4   CÓDIGO UNIDADE GESTORA     186949 non-null  float64
 5   NOME UNIDADE GESTORA       188076 non-null  object
 6   CATEGORIA ECONÔMICA        187950 non-null  object
 7   ORIGEM RECEITA             181808 non-null  object
 8   ESPÉCIE RECEITA            181798 non-null  object
 9   DETALHAMENTO               186726 non-null  object
 10  VALOR PREVISTO ATUALIZADO  180955 non-null  object
 11  VALOR LANÇADO              182124 non-null  object
 12  VALOR REALIZADO            182807 non-null  object
 13  PERCENTUAL REALIZADO       186281 non-null  object
 14  DATA LANÇAMENTO            183488 non-null  object
 15  ANO EXERCÍCIO              142859 non-null  float64
dtypes: float64(4), object(12)
memory usage: 23.3+ MB

In [46]:
df1_2018 = pd.read_csv("C:/Users/Administrador/Desktop/RCM/Proyecto2-EDA-Ingresos-Publicos-Brasil/datos/datos-2018.csv", sep=';')
df1_2018.head(3)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","-1693,72","0,00",25/07/2018,NaN
1,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Transferências Correntes,Transferências dos Estados e do Distrito Fede,"TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.","0,00","0,00",NaN,"0,00",02/08/2018,2018.0
2,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","-258,00","0,00",27/02/2018,2018.0

In [71]:
df1_2018.describe()

,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,CÓDIGO UNIDADE GESTORA,ANO EXERCÍCIO
count,165690.000000,168716.000000,166913.000000,130458.0
mean,31425.408896,30759.630468,224882.574233,2018.0
std,10166.459924,9821.452882,138519.077341,0.0
min,20000.000000,20101.000000,110005.000000,2018.0
25%,25000.000000,25000.000000,154034.000000,2018.0
50%,26000.000000,26285.000000,167086.000000,2018.0
75%,36000.000000,32396.000000,240901.000000,2018.0
max,81000.000000,91214.000000,913001.000000,2018.0

In [72]:
df1_2018.shape

(173944, 16)

In [73]:
df1_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173944 entries, 0 to 173943
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CÓDIGO ÓRGÃO SUPERIOR      165690 non-null  float64
 1   NOME ÓRGÃO SUPERIOR        113064 non-null  object
 2   CÓDIGO ÓRGÃO               168716 non-null  float64
 3   NOME ÓRGÃO                 166611 non-null  object
 4   CÓDIGO UNIDADE GESTORA     166913 non-null  float64
 5   NOME UNIDADE GESTORA       171411 non-null  object
 6   CATEGORIA ECONÔMICA        170516 non-null  object
 7   ORIGEM RECEITA             168037 non-null  object
 8   ESPÉCIE RECEITA            166386 non-null  object
 9   DETALHAMENTO               167435 non-null  object
 10  VALOR PREVISTO ATUALIZADO  165247 non-null  object
 11  VALOR LANÇADO              170168 non-null  object
 12  VALOR REALIZADO            165640 non-null  object
 13  PERCENTUAL REALIZADO       171264 non-null  object
 14  DATA LANÇAMENTO            169298 non-null  object
 15  ANO EXERCÍCIO              130458 non-null  float64
dtypes: float64(4), object(12)
memory usage: 21.2+ MB

In [47]:
df1_2019 = pd.read_csv("C:/Users/Administrador/Desktop/RCM/Proyecto2-EDA-Ingresos-Publicos-Brasil/datos/datos-2019.csv", sep=';')
df1_2019.head(3)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000.0,Advocacia-Geral da União,63000.0,NaN,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-95,00","0,00",12/06/2019,2019.0
1,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-380,00","0,00",07/05/2019,NaN
2,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","380,00","0,00",01/03/2019,2019.0

In [74]:
df1_2019.describe()

,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,CÓDIGO UNIDADE GESTORA,ANO EXERCÍCIO
count,170865.000000,173643.000000,171547.000000,132621.0
mean,31409.703567,30825.272945,225092.502475,2019.0
std,10161.744743,9834.693796,139752.985581,0.0
min,20000.000000,20101.000000,110005.000000,2019.0
25%,25000.000000,25000.000000,154039.000000,2019.0
50%,26000.000000,26290.000000,167086.000000,2019.0
75%,36000.000000,32396.000000,240102.000000,2019.0
max,81000.000000,91214.000000,913001.000000,2019.0

In [75]:
df1_2019.shape

(176828, 16)

In [76]:
df1_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176828 entries, 0 to 176827
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CÓDIGO ÓRGÃO SUPERIOR      170865 non-null  float64
 1   NOME ÓRGÃO SUPERIOR        114938 non-null  object
 2   CÓDIGO ÓRGÃO               173643 non-null  float64
 3   NOME ÓRGÃO                 169862 non-null  object
 4   CÓDIGO UNIDADE GESTORA     171547 non-null  float64
 5   NOME UNIDADE GESTORA       174840 non-null  object
 6   CATEGORIA ECONÔMICA        174890 non-null  object
 7   ORIGEM RECEITA             168623 non-null  object
 8   ESPÉCIE RECEITA            172708 non-null  object
 9   DETALHAMENTO               172006 non-null  object
 10  VALOR PREVISTO ATUALIZADO  167987 non-null  object
 11  VALOR LANÇADO              172190 non-null  object
 12  VALOR REALIZADO            169191 non-null  object
 13  PERCENTUAL REALIZADO       170075 non-null  object
 14  DATA LANÇAMENTO            173914 non-null  object
 15  ANO EXERCÍCIO              132621 non-null  float64
dtypes: float64(4), object(12)
memory usage: 21.6+ MB

In [48]:
df1_2020 = pd.read_csv("C:/Users/Administrador/Desktop/RCM/Proyecto2-EDA-Ingresos-Publicos-Brasil/datos/datos-2020.csv", sep=';')
df1_2020.head(3)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","5516,90","0,00",28/04/2020,2020.0
1,63000.0,Advocacia-Geral da União,NaN,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","2946,81","0,00",15/04/2020,2020.0
2,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","1541,53","0,00",27/05/2020,2020.0

In [77]:
df1_2020.describe()

,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,CÓDIGO UNIDADE GESTORA,ANO EXERCÍCIO
count,137044.000000,135491.000000,138764.000000,106761.0
mean,32086.125624,31579.852618,238443.493471,2020.0
std,10598.321210,10454.175702,151544.696762,0.0
min,20000.000000,20101.000000,110005.000000,2020.0
25%,25000.000000,25000.000000,154044.000000,2020.0
50%,26000.000000,26290.000000,170013.000000,2020.0
75%,39000.000000,36201.000000,253003.000000,2020.0
max,81000.000000,90000.000000,873001.000000,2020.0

In [79]:
df1_2020.shape

(142348, 16)

In [81]:
df1_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142348 entries, 0 to 142347
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CÓDIGO ÓRGÃO SUPERIOR      137044 non-null  float64
 1   NOME ÓRGÃO SUPERIOR        92526 non-null   object
 2   CÓDIGO ÓRGÃO               135491 non-null  float64
 3   NOME ÓRGÃO                 135255 non-null  object
 4   CÓDIGO UNIDADE GESTORA     138764 non-null  float64
 5   NOME UNIDADE GESTORA       139702 non-null  object
 6   CATEGORIA ECONÔMICA        136452 non-null  object
 7   ORIGEM RECEITA             138019 non-null  object
 8   ESPÉCIE RECEITA            137467 non-null  object
 9   DETALHAMENTO               138373 non-null  object
 10  VALOR PREVISTO ATUALIZADO  135231 non-null  object
 11  VALOR LANÇADO              140252 non-null  object
 12  VALOR REALIZADO            138063 non-null  object
 13  PERCENTUAL REALIZADO       140314 non-null  object
 14  DATA LANÇAMENTO            139954 non-null  object
 15  ANO EXERCÍCIO              106761 non-null  float64
dtypes: float64(4), object(12)
memory usage: 17.4+ MB

In [49]:
df1_2021 = pd.read_csv("C:/Users/Administrador/Desktop/RCM/Proyecto2-EDA-Ingresos-Publicos-Brasil/datos/datos-2021.csv", sep=';')
df1_2021.head(3)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000.0,NaN,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,NaN,"0,00","0,00","0,00",23/04/2021,2021.0
1,63000.0,Advocacia-Geral da União,63000.0,Advocacia-Geral da União - Unidades com víncul...,110060.0,NaN,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","0,00","0,00",16/04/2021,2021.0
2,37000.0,Controladoria-Geral da União,37000.0,Controladoria-Geral da União - Unidades com ví...,NaN,DIRETORIA DE GESTAO INTERNA(CGU),Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,"608888110,00","0,00","0,00","0,00",23/04/2021,2021.0

In [83]:
df1_2021.describe()

,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,CÓDIGO UNIDADE GESTORA,ANO EXERCÍCIO
count,133191.000000,131202.000000,130352.000000,100945.0
mean,31980.689386,31457.175340,238690.054506,2021.0
std,10477.360150,10274.244983,151288.080629,0.0
min,20000.000000,20101.000000,110005.000000,2021.0
25%,25000.000000,25000.000000,154044.000000,2021.0
50%,26000.000000,26285.000000,170013.000000,2021.0
75%,39000.000000,36000.000000,253002.000000,2021.0
max,81000.000000,90000.000000,873001.000000,2021.0

In [85]:
df1_2021.shape

(134593, 16)

In [86]:
df1_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134593 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CÓDIGO ÓRGÃO SUPERIOR      133191 non-null  float64
 1   NOME ÓRGÃO SUPERIOR        87485 non-null   object
 2   CÓDIGO ÓRGÃO               131202 non-null  float64
 3   NOME ÓRGÃO                 129997 non-null  object
 4   CÓDIGO UNIDADE GESTORA     130352 non-null  float64
 5   NOME UNIDADE GESTORA       128118 non-null  object
 6   CATEGORIA ECONÔMICA        131846 non-null  object
 7   ORIGEM RECEITA             132106 non-null  object
 8   ESPÉCIE RECEITA            132754 non-null  object
 9   DETALHAMENTO               132439 non-null  object
 10  VALOR PREVISTO ATUALIZADO  127863 non-null  object
 11  VALOR LANÇADO              133148 non-null  object
 12  VALOR REALIZADO            129379 non-null  object
 13  PERCENTUAL REALIZADO       129104 non-null  object
 14  DATA LANÇAMENTO            130519 non-null  object
 15  ANO EXERCÍCIO              100945 non-null  float64
dtypes: float64(4), object(12)
memory usage: 16.4+ MB

In [51]:
#df1_diccionario = pd.read_csv("C:/Users/Administrador/Desktop/RCM/Proyecto2-EDA-Ingresos-Publicos-Brasil/datos/diccionario_datos.csv")
#df1_diccionario.head(3)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc7 in position 14: invalid continuation byte